In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('dados.csv')

## Média

In [4]:
media_idade = data['Idade'].mean()
media_idade

44.07142113482561

In [5]:
# Usando o groupy para calcular a média da idade por sexo

media_idade_sexo = data.groupby(['Sexo'])['Idade'].mean()
media_idade_sexo

Sexo
0    44.046554
1    44.127554
Name: Idade, dtype: float64

In [18]:
# Exemplo do calculo da média em dataset de orientação vertical
dataset = pd.DataFrame({
    'Sexo': ['H', 'M', 'M', 'M', 'M', 'H', 'H', 'H', 'M', 'M'],
    'Idade': [53, 72, 54, 27, 30, 40, 58, 32, 44, 51]
})

res = dataset.groupby(['Sexo']).mean()
print(res)

res2 = dataset.groupby('Sexo').mean().loc['H']
res2

          Idade
Sexo
H     45.750000
M     46.333333

Idade    45.75
Name: H, dtype: float64

# Mediana

In [38]:
# Atribuindo valor das colunas organizadas em valores crescentes
altura = data['Altura'].sort_values()
# Resentando os indicies e transformando em um novo data frame
altura = altura.reset_index()
# Capturando o valor mais alto da coleção
n = altura.shape[0]

In [43]:
indicie = (n + 1) / 2
indicie = indicie - 1
indicie #Resultado do indicie
altura.loc[int(indicie)]

index     51982.000000
Altura        1.699324
Name: 38419, dtype: float64

In [44]:
# Utilizando a formula
altura.median()

index     38419.500000
Altura        1.699325
dtype: float64

# Model

In [46]:
# Exemplo de uma variável de moda única
data.Renda.mode()

0    788
Name: Renda, dtype: int64

In [48]:
# Exemplo de uma variável multi-moda
data.Altura.mode()

0    1.568128
1    1.671225
2    1.681659
3    1.692977
4    1.708163
5    1.708370
6    1.753842
7    1.779073
8    1.796462
Name: Altura, dtype: float64